PORT=5000
MONGODB_URI=mongodb://localhost:27017/nilesh-creation
JWT_SECRET=your_jwt_secret_key_change_in_production
ADMIN_EMAIL=himanshusonar71@gmail.com
ADMIN_PASSWORD=Nileshsonar@123
NODE_ENV=development
